header {
    padding: 55px 0 0;
}

.bg-primary {
    background: #556270; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #ff6b6b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #ff6b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.person {
    color: #666666;
    margin: 5px;
   /* padding-left: 5px;
    padding-right: 5px;*/
    background-color: #e3e3e3;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: normal;
    //padding-right: 8px;
}